body  
{
	font-family: sans-serif; 
	font-size: 80%;
	background-color: black;
	color: white;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 6px;
}

form { margin: 0px; padding: 0px; }

h1 
{
	margin: 0px !important;
	font-size: 200%;
	color: #333;
}

#container 
{
	width: 400px;
	border: 1px solid #999;
	background-color: #222;
	padding: 8px;
}

input#join_leave 
{
	border: 1px solid #ddd;
	border-right-color: #aaa;
	border-bottom-color: #aaa;
	background-color: #999;
	font-size: 80%;
	height: 1.5em;
	color: white;
}

textarea#message 
{
	background-color: #ddd;
	border: 1px solid #999;
	font-family: sans-serif;
	font-size: 90%;
	padding: 4px;
	width: 97%;
}

textarea#message.private 
{
	background-color: #fcc;
}

table#messages 
{
	border-collapse: collapse;
	width: 100%;
}

table#messages td 
{
	vertical-align: top;
	padding: 4px;
	width: 100%;
}

table#messages td.msg_meta 
{
	white-space: nowrap;
	background-color: #333;	
	border-left: 1px solid #444;
	width: 1%;
	font-size: 90%;
}

table#messages .msg_user 
{
	font-weight: bold;
}

table#messages .msg_time 
{
	font-size: 90%;
	font-style: italic;
	color: #ddd;
}

table#messages tr.row_style_2 td.msg_meta
{
	background-color: #444;
}

table#messages tr.row_style_2 td.msg_text 
{
	background-color: #333;
}

.error  
{
	padding: 2px 4px;
	background-color: #daa;
	color: #300;
	border: 1px solid #fee;
	display: none;
}

#current_user, .current_user 
{
	font-weight: bold;
	color: #bcf;
}

#users_block, 
#messages_block,
#status_block,
#message_block
{
	margin-top: 6px; 
}

#error  
{
	margin-bottom: 6px; 
}

ul#users 
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

ul#users li
{
	display: inline;
	margin: 1px;
	padding: 2px 4px;
	border: 1px solid #ddd;
	background-color: #555;
	font-size: 80%;
	float: left;
	cursor: default;
}

#ctl_block 
{
	width: 30px;
	float: right;
	font-size: 70%;
	text-align: right;
}

#ctl_block a#mutectl 
{
	color: #afa;
	text-decoration: underline;
	cursor: pointer;
}

#ctl_block a#helpctl 
{
	color: #ffa;
	text-decoration: underline;
	cursor: pointer;	
}

#message_block #message_privacy 
{
	font-size: 70%;
	text-align: right;
}

#help_container 
{
	font-size: 90%;
	padding: 16px;
	width: 600px;
	background-color: black;
	border: 3px double #cdf;
	display: none;
}

#help h2 
{
	font-size: 115%;
	margin-top: 0px;
	color: #afa;
}

#help h3 
{
	color: #ffa;
	font-size: 110%;
}

#dialog_bg 
{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #679;
	width: 100%;
	height: 100%;
	display: none;
	cursor: wait;
}

#close_dialog 
{
	width: 25px;
	float: right;
	text-align: right;
	color: red;
	font-weight: bold;
	font-size: 110%;
	cursor: pointer;
}


